matplotlib
pillow==8.1.1
opencv-python
imgaug
cython
scikit-image
ffmpeg-python
timestamp
pymysql
keras==2.1.3
ipykernel
Pypl
imantics
simplification
pyqt5
h5py
tensorflow-gpu==1.14.0
cudnn==10.0.1
cudatoolkits==7.6.5
pandas
selenium
